@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --success-color: #4BB543;
    --success-color-dark: #378330;

    --primary-color: #3B82F6FF;
    --primary-color-dark: #2d5db0;

    --danger-color: #dc3545;
    --danger-color-dark: #9d2736;

    --warning-color: #ffc107;
    --warning-color-dark: #be930a;
}

@layer components {
    .btn {
        @apply rounded-md shadow-md;
        padding: 0.5em;
    }

    .btn-success {
        @apply btn bg-success;
    }

    .btn-success:hover {
        background-color: var(--success-color-dark);
    }

    .btn-primary {
        @apply btn bg-primary;
    }

    .btn-primary:hover {
        background-color: var(--primary-color-dark);
    }

    .btn-danger {
        @apply btn bg-danger;
    }

    .btn-danger:hover {
        background-color: var(--danger-color-dark);
    }

    .btn-warning {
        @apply btn bg-warning;
    }

    .btn-warning:hover {
        background-color: var(--warning-color-dark);
    }

    .input {
        @apply border-gray-200 bg-gray-200 rounded w-full py-2
            px-4 text-gray-700 leading-tight border
            focus:outline-none focus:border-blue-500;
    }
}

@layer utilities {
    .bg-success {
        background-color: var(--success-color);
        color: white;
    }

    .bg-primary {
        background-color: var(--primary-color);
        color: white;
    }

    .bg-danger {
        background-color: var(--danger-color);
        color: black;
    }

    .bg-warning {
        background-color: var(--warning-color);
        color: black;
    }
}

#toast_container {
    @apply max-w-lg;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: auto;
}

.toast_container__toast {
    @apply shadow-xl rounded-xl mt-5;
    padding: 1em;
}