@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-height: 60px;
    --navbar-height: 80px;
}

main {
    min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
    padding-top: 1em;
}

footer {
    @apply shadow-xl;
    position: relative;
    height: var(--footer-height);
    background-color: white;

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2em;
        height: 100%;

        > p, > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .footer-logo {
        height: 2em;
        align-self: center;
    }
}

nav {
    @apply shadow;
    position: sticky;
    width: 100%;
    height: var(--navbar-height);

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    color: black;

    .navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2em;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        margin: 0 2em;

        .navlinks a {
            margin-right: 2em;
            &.active {
                font-weight: bold;
            }
        }
    }
}


nav a:last-child {
    margin-right: 0;
}

#toast_container {
    @apply max-w-lg;
    width: 100%;
    position: fixed;
    z-index: 1001;
    right: 0;
    bottom: 0;

    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: auto;

    .toast {
        @apply shadow-xl rounded-xl mt-5 flex flex-row justify-between transition ease-in-out duration-150;
        padding: 1em;
    }

    .toast-close-button {
        @apply shadow-md;
        background-color: white;
        color: black;
        border-radius: 50%;
        opacity: 70%;

        width: 2em;
        height: 2em;
    }
}