<div class="search-container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h1>We serve drinks 🍺<br />
        & memories 🍻</h1>
    <div sec:authorize="isAnonymous()" class="flex flex-col items-center justify-center gap-5">
        <p class="text-lg  text-black text-center" >
            <i>“The mouth of a perfectly happy man is filled with beer.”</i>
            <br/>
            What are you waiting for? join us and order now!
        </p>
        <div>
            <a class="btn-primary text-center font-bold" style="padding: 12px 52px;" href="/register">Register</a>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()" class="flex flex-col items-center justify-center gap-5">
        <p class="text-lg  text-black text-center" >
            <i>“The mouth of a perfectly happy man is filled with beer. 🍻”</i>
            <br/>
            Welcome back amigo! what will you have today? 😋
        </p>

    </div>


<!--    <form action="#" method="post">-->
<!--        <div class="search-bar">-->
<!--            <input type="text" placeholder="What's your poison?">-->
<!--        </div>-->
<!--        <div class="search-btn">-->
<!--            <input type="submit" value="Search">-->
<!--        </div>-->
<!--    </form>-->
</div>