
<div class="absolute w-screen h-screen bg-[#00000080] grid place-items-center absolute top-0  z-10" id="ageVerificationPopup" >

  <div class="h-[400px] w-[350px] bg-white text-black rounded-xl drop-shadow p-5 text-center flex flex-col justify-evenly">
    <h1 class="text-3xl font-bold">Age Verification: <th:block  th:text="${session.ageVerified}"></th:block></h1>
    <p>By clicking enter, I certify that I am over the age of 18 and will comply with the above statement.</p>

    <a href="/verifyAge" class="btn-primary"  id="refresh-page">ENTER</a>



    <a  class="btn-secondary" id="reset-session" href="https://i.imgflip.com/1plk7e.jpg">EXIT</a>

    <small>Always enjoy responsibly.</small>
  </div>

</div>

<div class="overlay-verify"></div>
