<footer class="prost-footer w-screen bg-[#F2EBEB] text-black px-24 py-5">
    <div class="flex flex-row">
        <div class="basis-1/6">
            <p class="text-black font-bold mb-2">Address</p>
            <p class="text-sm"> 23, Bierstraße, <br />
                96075 - Bamberg,<br />
                Germany </p>
        </div>
        <div class="basis-1/6 ">
            <p class="text-black font-bold mb-2">Contact Us</p>
            <p class="text-sm"> Call: 0176750 78690<br />
                Email: hello@prost.com<br />

        </div>
        <div class="basis-1/3 flex flex-col justify-center items-center pl-5 pr-5 ">
            <a class=" w-[150px]" href=""><img style="margin-bottom:5px;" class="h-[75px]" src="../../images/Prost.png"></a>
            <div class=" flex flex-row gap-5 justify-center items-center w-[150px] pt-2.5 pb-1">
                <a href="" class="fa-brands fa-instagram text-[1.5rem]"></a>
                <a href="" class="fa-brands fa-twitter text-[1.5rem]"></a>
                <a href="" class="fa-brands fa-facebook text-[1.5rem]"></a>
            </div>
            <p class="text-sm "> © 2022 Group 6 </p>
        </div>
        <div class="basis-1/6 ">
            <p class="text-black font-bold mb-2">Account</p>
            <div>
                <a class="text-black hover:underline text-sm" href="">Orders</a>
            </div>
            <div>
                <a class="text-black hover:underline text-sm" href="">Details</a>
            </div>
            <div>
                <a class="text-black hover:underline text-sm" href="">Sign Out</a>
            </div>
        </div>
        <div class="basis-1/6">
            <p class="text-black font-bold mb-2">Pages</p>
            <div>
                <a class="text-black hover:underline text-sm" href="">Home</a>
            </div>
            <div>
                <a class="text-black hover:underline text-sm" href="">Beverages</a>
            </div>
            <div>
                <a class="text-black hover:underline text-sm" href="">Bottles</a>
            </div>
            <div>
                <a class="text-black hover:underline text-sm" href="">Crates</a>
            </div>
        </div>

    </div>
</footer>