<footer>
    <p class="flex items-center">
        <a href="https://www.uni-bamberg.de/wiai/" target="_blank">
            <img style="height: 3em; vertical-align: middle;" src="/uni-bamberg.png" alt="Otto-Friedrich Universität Bamberg">
        </a>
        <span>Prost team 2022</span>
    </p>
    <!-- This must be here, the icon is licenced -->
    <a target="_blank" class="flex items-center align-top text-sm" href="https://www.flaticon.com/free-icons/beer" title="beer icons">
        <p class="underline">
            Beer icons created by Freepik - Flaticon
        </p>&emsp;
        <img src="/beer.png" alt="beer icon" style="height: 2em;">
    </a>
</footer>