<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="include/admin_head">
    <title>Prost admin</title>
</head>
<body class="prost-bg">
<div class="flex flex-row w-100">
    <div class="admin-widget-container">
        <div class="admin-widget">
            <h2 class="widget-title">Links</h2>
            <div class="flex flex-col gap-3 text-center">
                <hr class="mb-3">
                <a class="btn-primary" href="/">Home</a>
                <a class="btn-primary" href="/bottles">Bottles</a>
                <a class="btn-primary" href="/crates">Crates</a>
                <a class="btn-primary" href="/orders">Orders</a>
                <a class="btn-primary" href="/user">User page</a>
                <a class="btn-primary" href="/logout">Log Out</a>
            </div>
        </div>

        <div class="admin-widget">
            <h2 class="widget-title">Actions</h2>
            <div class="flex flex-col" th:each="actionInstance : ${actions}">
                <hr class="mb-3">
                <div th:each="method : ${actionInstance.getMethodNames()}" class="flex flex-row justify-between mb-3">
                    <h3 style="margin-right: 1em;" th:text="${method}"></h3>
                    <div>
                        <a class="btn-success" th:href="'/admin/action?a=' + ${method}">Call</a>
                        <a class="btn-success" th:href="'/admin/action?a=' + ${method} + '&await=1'">Await</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="max-width: 280px;" class="admin-widget">
            <h2 class="widget-title">Version</h2>
            <p class="break-words" nl2br:text="${version}"></p>
        </div>

        <div class="admin-widget">
            <div class="flex flex-col gap-3 text-center">
                <a href="/admin/form?type=bottle" class="btn-primary">
                    Create new bottle
                    <i class="fa-solid fa-wine-bottle"></i>
                </a>
                <a href="/admin/form?type=crate" class="btn-primary">
                    Create new crate
                    <i class="fa-solid fa-bag-shopping"></i>
                </a>
            </div>
        </div>
        <div class="admin-widget text-center">
            <iframe height="500" width="800" src="/h2-console"></iframe>
            <span>
                Url: <code>jdbc:h2:mem:prost</code>&emsp;
                User name: <code>prostadmin</code>&emsp;
                Password: <code>strongpassword</code>
            </span>
        </div>
    </div>
</div>
<div th:replace="include/toasts"></div>
</body>
</html>