<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Success</title>
    <meta th:replace="include/head">
</head>
<body class="prost-bg">
<div th:replace="include/navbar"></div>
<main class="content-container flex justify-center">
    <div class="flex flex-col gap-5">
        <h2 class="text-2xl font-bold">Your order was recieved! We wish you a happy time! Prost!</h2>
        <div>
            <img style="height: 280px;" class="rounded-xl mx-auto" src="/images/frog.jpg" alt="frog">
        </div>
        <div class="flex flex-row gap-5 text-center">
            <a class="btn-primary w-1/2" href="/"><strong>Continue with shopping</strong></a>
            <a class="btn-primary w-1/2" href="/orders"><strong>See your orders</strong></a>
        </div>
    </div>
</main>
<footer th:replace="include/footer"></footer>
</body>
</html>