<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="include/head">
    <title>Prost!</title>
</head>
<body>
<div class="page_container">
    <div th:replace="include/navbar"></div>
    <main class="mx-auto container">
        <h1 class="text-6xl pb-5">tvoje_mama_je_thicc</h1>
        <div class="beverage-card-container">
            <div class="bottle-wrapper" th:each="bottle : ${bottles}">
                <div class="bottle-content">
                    <img class="bottle-image"
                         th:src="${bottle.bottlePic}" th:alt="${bottle.name}">
                </div>
                <div class="bottle-content">
                    <div class="bottle-descr">
                        <h2><strong th:text="${bottle.name}"></strong></h2>
                        <hr />
                        <p th:text="'€ ' + ${bottle.price}"></p>
                        <hr />
                        <p th:text="${bottle.inStock} + ' pcs.'"></p>
                    </div>
                    <div class="flex flex-row justify-end">
                        <button class="btn-success p-3"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <div th:replace="include/toasts"></div>
    <footer th:replace="include/footer"></footer>
</div>
</body>
</html>