<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="include/head">
    <title>Prost!</title>
</head>
<body class="prost-bg">
<div>
    <div th:replace="include/navbar"></div>
    <main class="mx-auto container">
        <div class="flex flex-row justify-between pb-5">
            <h1 class="text-6xl">Bottles</h1>
            <div class="pagination">
                <a th:href="'/bottles?page=' + ${current_page - 1}" th:classappend="${current_page < 1} ? 'disabled' : ''"><i class="fa-solid fa-arrow-left"></i></a>
                <a th:href="'/bottles?page=' + ${current_page + 1}" th:classappend="${current_page >= max_page} ? 'disabled' : ''"><i class="fa-solid fa-arrow-right"></i></a>
                <a th:href="'/bottles?page=' + ${max_page}">Last</a>
            </div>
        </div>
        <div class="beverage-card-container">
            <div class="bottle-wrapper" th:each="bottle : ${bottles}">
                <div class="bottle-content">
                    <img class="bottle-image"
                         th:src="${bottle.bottlePic}" th:alt="${bottle.name}">
                </div>
                <div class="bottle-content">
                    <div class="bottle-descr">
                        <h2><strong th:text="${bottle.name}"></strong></h2>
                        <hr />
                        <p th:text="'€ ' + ${bottle.price}"></p>
                        <hr />
                        <p th:text="${bottle.inStock} + ' pcs.'"></p>
                    </div>
                    <div class="flex flex-row justify-end">
                        <form th:action="@{/cart/add}" method="post">
                            <input name="bottleId" th:value="${bottle.id}" type="hidden">
                            <input name="next" value="/bottles" type="hidden">
                            <div class="flex flex-row justify-end">
                                <div class="beverage-to-cart py-3">
                                    <div class="flex flex-col justify-center px-3">
                                        <input
                                            type="number"
                                            name="count"
                                            class="number-input"
                                            value="1" min="1" th:max="${bottle.inStock}"
                                            aria-label="Bottle count"
                                        >
                                    </div>
                                    <div class="flex flex-col justify-center px-3">
                                        <button type="submit" class="to-cart-btn">
                                            <i class="fa-solid fa-lg fa-cart-shopping"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer th:replace="include/footer"></footer>
</div>
</body>
</html>