<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:nl2br="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="include/head">
    <link rel="stylesheet" href="/build/summary_page.css">
    <script src="/build/summary_page.js"></script>
    <title>Cart</title>
</head>
<body class="prost-bg">
<div>
    <div th:replace="${ activeUser == 'anonymousUser' ? 'include/navbar_signed_out' : 'include/navbar' }"></div>
    <main class="content-container tiled-page">
        <div class="tiled-page-container--left p-5">
            <h1 class="text-3xl font-semibold mb-3">Your cart</h1>
            <div th:with="cart=${cart}" th:replace="include/cart"></div>
        </div>
        <div class="tiled-page-container--right">
            <div class="summary" th:with="user=${#authentication.getPrincipal()}">
                <div>
                    <h1 class="text-3xl font-semibold mb-3">Your bill</h1>
                </div>
                <div th:with="totalPrice=${cart.getTotalPrice()}">
                    <h2 class="text-4xl mb-3">Total: <strong th:text="'€ ' + ${totalPrice}"></strong></h2>
                    <form action="/cart/submit" method="post">
                        <button class="cart-submit-button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="include/footer"></footer>
</div>
</body>
</html>