<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="include/head">
    <title>Prost!</title>
</head>
<body>
<div th:replace="include/navbar"></div>
<main class="content-container">
    <div th:replace="components/search_section"></div>
    <div class="p-5 text-center">
        <h2 class="text-3xl font-bold">Happiness is a choice, so is getting drunk!</h2>
        <p>
            Choose from our great collection of alcholic and non-alcholic beverages.
            We got you, whatever your like!
        </p>
        <div th:replace="components/beercards"></div>
    </div>
</main>
<footer th:replace="include/footer"></footer>
</body>
</html>