<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="include/head">
    <title>Login</title>
</head>
<body class="prost-bg">
<div class="page_container">
    <div th:replace="include/navbar"></div>
    <main class="mx-auto max-w-lg px-5">
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="loginform__username">Username</label>
                <input class="form-control"
                       id="loginform__username" name="username" type="text" placeholder="Enter your username">
            </div>
            <div class="mb-5">
                <label for="loginform__password">Password</label>
                <input class="form-control"
                       id="loginform__password" name="password" type="password" placeholder="Enter password">
            </div>
            <input name="next" th:if="${next != null && next.length() > 0}" type="hidden" th:value="next">

            <div class="mb-3 flex justify-between">
                <span class="py-2">
                    <a class="color-primary underline" th:href="@{'/register' + ${next != null ? '?next='+next : ''}}">Register</a>
                </span>
                <button class="btn-primary w-1/3" type="submit">Log in <i class="fa-solid fa-key"></i></button>
            </div>
        </form>
    </main>
    <footer th:replace="include/footer"></footer>
</div>
</body>
</html>