<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="include/head">
    <title>Login</title>
</head>
<body class="prost-bg">
<div th:replace="include/navbar"></div>
<div class="flex h-screen w-screen justify-center items-center">
    <main class="content-container w-max drop-shadow rounded-xl flex flex-col items-start justify-start py-2 bg-white">
        <div class="logo self-center">
            <a href="#" class="no-underline"> <img class="h-16" src="/images/Prost.png" alt="Prost"></a>
        </div>
        <p class="text-black mt-5 mb-3 px-[1.8rem]"> Welcome back amigo!</p>
        <form th:action="@{/login}" method="post" class="px-[1.8rem] w-max">
            <div class="mb-3 w-full">
                <label for="loginform__username"></label><br>
                <input class="form-control w-full"
                       id="loginform__username" name="username" type="text" placeholder="Enter your username" required>
            </div>
            <div class="mb-5 w-full">
                <label for="loginform__password"></label><br>
                <input class="form-control w-full"
                       id="loginform__password" name="password" type="password" placeholder="Enter password" required>
            </div>
            <input name="next" th:if="${next != null && next.length() > 0}" type="hidden" th:value="next">
            <div class="mb-3 flex  gap-2 mt-3">
                <button class="btn-primary flex-1 font-bold rounded-1 h-[46px] w-[266px] drop-shadow" type="submit">Sign In</button>
                <a class="btn-secondary flex-1 font-bold grid place-content-center" href="/register">Register</a>
            </div>
        </form>
    </main>
</div>
<div th:replace="include/toasts"></div>
</body>
</html>