<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="'Order ' + ${order.id}"></title>
    <meta th:replace="include/head">
</head>
<body class="prost-bg">
<div th:replace="include/navbar"></div>
<main class="content-container flex flex-row justify-center">
    <div class="flex flex-col">
        <div class="flex flex-row justify-between text-lg mb-5">
            <div class="flex flex-col px-5">
                Order number:
            </div>
            <div class="flex flex-col px-5">
                <strong th:text="${order.id}"></strong>
            </div>
        </div>
        <div class="flex flex-row justify-between text-lg mb-5">
            <div class="flex flex-col px-5">
                Total price:
            </div>
            <div class="flex flex-col px-5">
                <strong th:text="'€ ' + ${order.price}"></strong>
            </div>
        </div>
        <div class="flex flex-row justify-between text-lg">
            <div class="flex flex-col px-5">
                Items:
            </div>
            <div class="flex flex-col px-5"></div>
        </div>
        <div class="ml-5 flex flex-row" th:each="bev : ${cartDTO.beverages}">
            <div class="flex flex-col px-5" th:text="${bev.value} + 'x'"></div>
            <div class="flex flex-col px-5">
                <strong th:text="${bev.key.getName()}"></strong>
            </div>
        </div>
    </div>
</main>
<footer th:replace="include/footer"></footer>
</body>
</html>