<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="include/head">
    <title>404</title>
</head>
<body class="prost-bg grid place-content-center">
<div class="flex flex-col">
    <div class="content-container flex flex-col justify-center items-center gap-5">
        <h2 class="text-2xl text-black font-bold">If you are seeing this page, an error has occured!</h2>
        <h2 class="text-4xl text-black font-bold"></h2>
        <img src="/images/frog.jpg" alt="frog" class="h-[280px] w-[380px] rounded-xl">
        <div class="flex flex-row gap-2 w-[20vw]">
            <a class="btn-primary flex-1 grid place-content-center font-bold" href="/">Go Home</a>

        </div>
    </div>
</div>

</body>
</html>